<div class="timer_section">
    <div class="timers">
            <div class="timer">
                <div class="title_area">
                    <span class="top_toggle"></span>
                    <div class="content_area">
                        <h5 class="collapsing_content-title">{{title}}</h5>
                    </div>
                </div>
                <div class="countdown_timer">{{countdown_end_time}}</div>
            </div>
    </div>
</div>