<div class="entry_section">
    <div class="entries">
        {{#children}}
            <div class="entry">
                <div class="title_area">
                    <span class="top_toggle"></span>
                    <div class="content_area">
                        <h5 class="countdown-title">{{title}}</h5>
                        <p class="countdown-subtitle">{{subtitle}}</p>
                    </div>
                </div>
                <div class="above_content">{{{above_content}}}</div>
                <div class="content">{{{content}}}</div>
                <div class="below_content">{{{below_content}}}</div>
            </div>
        {{/children}}
    </div>
    <div class="entry_background"></div>
</div>