.countdown-table tbody tr:nth-child(odd) {
    background: #eee;
}

.countdown-table tbody tr:nth-child(even) {
    background: white;
}

div#post-body-content {
    width: 95%;
}

.editor_block {
    margin: 20px 0;
}

.button-secondary {
    margin: 10px 0 !important;
}

.select-container {
    margin: 10px 0 5px;
}

.child-entries {
    margin: 0 0 20px;
}